In [2]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
import time
import re

brand = []
model = []
owners = []
year_of_purchase = []
transmission = []
kilometers = []
fuel_type = []
price = []

driver = webdriver.Chrome("/home/santosh/Downloads/chromedriver_linux64/chromedriver")


driver.get("https://www.cars24.com")

driver.maximize_window()

driver.find_element_by_xpath("/html/body/div[1]/div[5]/div/div/h3/div/img").click()

time.sleep(3)

driver.find_element_by_xpath("/html/body/div[1]/div[1]/div[2]/div/div/div[2]/ul/li[3]/a").click()
 
p = driver.current_url

r1 = requests.get(p)

soup1 = BeautifulSoup(r1.content, 'lxml')

lenOfPage = driver.execute_script("window.scrollTo(0, document.body.scrollHeight);var lenOfPage=document.body.scrollHeight;return lenOfPage;")
match=False
while(match==False):
    lastCount = lenOfPage
    time.sleep(3)
    lenOfPage = driver.execute_script("window.scrollTo(0, document.body.scrollHeight);var lenOfPage=document.body.scrollHeight;return lenOfPage;")
    if lastCount==lenOfPage:
        match=True
        
time.sleep(5)

nameslist = []
names = driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
for i in names:
    nameslist.append(i.text)
    
for i in range(len(nameslist)):
    year_of_purchase.append(nameslist[i][:4])
    brand.append(nameslist[i][4:])
    
prices = driver.find_elements_by_xpath('//div[@class="_7udZZ"]')
for i in prices:
    price.append(i.text.replace("₹", "").replace(",", ""))
    
fuel = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[3]')
for i in fuel:
    fuel_type.append(i.text)
    

km = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[2]')
for i in km:
    s = i.text
    exp = filter(str.isdigit, s)
    join_str = "".join(exp)
    owners.append(join_str)
    
km = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[1]')
for i in km:
    kilometers.append(i.text.replace(",", "").replace("km", ""))
    
    
mods = []
models = driver.find_elements_by_xpath('//p[@class="cvakB"]')
for i in models:
    mods.append(i.text)
    
for i in range(len(mods)):
    transmission.append(mods[i].split()[-1])
    
types = []
for i in range(len(models)):
    types.append(brand[i].split()[1:])
    
for i in types:
    listToStr = ' '.join(map(str, i))
    model.append(listToStr)
    
data = pd.DataFrame({})
data["Brand"] = brand
data["Model"] = model
data["Owner"] = owners
data["Kilometer"] = kilometers
data["Year_Of_Purchase"] = year_of_purchase
data["Transmission"] = transmission
data["Fuel_Type"] = fuel_type
data["Price"] = price
    
    
data

data.to_csv("cars24data.csv")

,Brand,Model,Owner,Kilometer,Year_Of_Purchase,Transmission,Fuel_Type,Price
0,Hyundai VENUE,VENUE,1,2589,2021,KAPPA,Petrol,807999
1,Maruti Swift,Swift,1,11019,2013,Manual,Diesel,378499
2,Maruti Alto 800,Alto 800,1,8967,2013,Manual,Petrol,241499
3,Maruti Alto 800,Alto 800,1,12535,2014,Manual,Petrol,300099
4,Maruti Swift,Swift,1,15538,2012,Manual,Petrol,453499
...,...,...,...,...,...,...,...,...
1808,Honda BR-V,BR-V,1,115331,2016,Manual,Petrol,580699
1809,Fiat Grand Punto,Grand Punto,1,70303,2014,Manual,Diesel,175799
1810,Hyundai Elite i20,Elite i20,1,50141,2017,Manual,Petrol,554899
1811,Maruti Swift,Swift,1,119502,2012,Manual,Diesel,324899
1812,Maruti Ertiga,Ertiga,2,120093,2012,Manual,Diesel,374099

In [28]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
import time
import re

brand = []
model = []
owners = []
year_of_purchase = []
transmission = []
kilometers = []
fuel_type = []
price = []

driver = webdriver.Chrome("/home/santosh/Downloads/chromedriver_linux64/chromedriver")


driver.get("https://www.cars24.com")

driver.maximize_window()


time.sleep(6)

driver.find_element_by_xpath("/html/body/div/div[1]/div[2]/div/div/div[2]/ul/li[2]/a").click()
 
p = driver.current_url

r1 = requests.get(p)

soup1 = BeautifulSoup(r1.content, 'lxml')

lenOfPage = driver.execute_script("window.scrollTo(0, document.body.scrollHeight);var lenOfPage=document.body.scrollHeight;return lenOfPage;")
match=False
while(match==False):
    lastCount = lenOfPage
    time.sleep(3)
    lenOfPage = driver.execute_script("window.scrollTo(0, document.body.scrollHeight);var lenOfPage=document.body.scrollHeight;return lenOfPage;")
    if lastCount==lenOfPage:
        match=True
        
time.sleep(5)


nameslist = []
names = driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
for i in names:
    nameslist.append(i.text)
    
for i in range(len(nameslist)):
    year_of_purchase.append(nameslist[i][:4])
    brand.append(nameslist[i][4:])

prices = driver.find_elements_by_xpath('//div[@class="_7udZZ"]')
for i in prices:
    price.append(i.text.replace("₹", "").replace(",", ""))
    
fuel = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[3]')
for i in fuel:
    fuel_type.append(i.text)
    

km = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[2]')
for i in km:
    s = i.text
    exp = filter(str.isdigit, s)
    join_str = "".join(exp)
    owners.append(join_str)
    
km = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[1]')
for i in km:
    kilometers.append(i.text.replace(",", "").replace("km", ""))
    
    
mods = []
models = driver.find_elements_by_xpath('//p[@class="cvakB"]')
for i in models:
    mods.append(i.text)
    
for i in range(len(mods)):
    transmission.append(mods[i].split()[-1])
    
types = []
for i in range(len(models)):
    types.append(brand[i].split()[1:])
    
for i in types:
    listToStr = ' '.join(map(str, i))
    model.append(listToStr)
    


data = pd.DataFrame({})
data["Brand"] = brand
data["Model"] = model
data["Owner"] = owners
data["Kilometer"] = kilometers
data["Year_Of_Purchase"] = year_of_purchase
data["Transmission"] = transmission
data["Fuel_Type"] = fuel_type
data["Price"] = price
    
    


data.to_csv("cars24data7.csv")

data

,Brand,Model,Owner,Kilometer,Year_Of_Purchase,Transmission,Fuel_Type,Price
0,Tata ALTROZ,ALTROZ,1,1882,2020,Manual,Petrol,708999
1,Maruti Eeco,Eeco,1,9693,2019,Manual,Petrol + CNG,477299
2,Maruti Alto,Alto,1,3772,2020,Manual,Petrol,402699
3,Maruti Baleno,Baleno,1,3919,2020,Manual,Petrol,663299
4,Maruti Eeco,Eeco,1,17945,2017,Manual,Petrol,411699
...,...,...,...,...,...,...,...,...
287,Maruti Swift,Swift,1,38324,2018,Manual,Petrol + CNG,526099
288,Hyundai Eon,Eon,1,50607,2017,Manual,Petrol,292199
289,Maruti Swift,Swift,1,71674,2018,Automatic,Diesel,534799
290,Maruti Ertiga,Ertiga,1,9742,2019,Manual,Petrol,889799
291,Hyundai i10,i10,1,158876,2013,Manual,Petrol + CNG,243999

In [29]:
import pandas as pd

In [30]:
df1 = pd.read_csv("cars24data.csv")
print(df1.shape)

df2 = pd.read_csv("cars24data1.csv")
print(df2.shape)

df3 = pd.read_csv("cars24data2.csv")
print(df3.shape)

df4 = pd.read_csv("cars24data3.csv")
print(df4.shape)

df5 = pd.read_csv("cars24data4.csv")
print(df5.shape)

df6 = pd.read_csv("cars24data5.csv")
print(df6.shape)

df7 = pd.read_csv("cars24data6.csv")
print(df7.shape)

df8 = pd.read_csv("cars24data7.csv")
print(df8.shape)

(1813, 9)
(1506, 9)
(779, 9)
(110, 9)
(1457, 9)
(1453, 9)
(427, 9)
(292, 9)

In [31]:
frames = [df1, df2, df3, df4, df5, df6, df7, df8]

#concatenate dataframes
final_df = pd.concat(frames)

# reset index
final_df.reset_index(drop=True, inplace=True)

final_df.shape

(7837, 9)

In [34]:
#dropping unnecesary columns from the data set
final_df.drop(["Unnamed: 0"], axis = 1, inplace=True)
final_df.head()

,Brand,Model,Owner,Kilometer,Year_Of_Purchase,Transmission,Fuel_Type,Price
0,Hyundai VENUE,VENUE,1,2589,2021,KAPPA,Petrol,807999
1,Maruti Swift,Swift,1,11019,2013,Manual,Diesel,378499
2,Maruti Alto 800,Alto 800,1,8967,2013,Manual,Petrol,241499
3,Maruti Alto 800,Alto 800,1,12535,2014,Manual,Petrol,300099
4,Maruti Swift,Swift,1,15538,2012,Manual,Petrol,453499

In [35]:
final_df.to_csv("Car_prediction_data.csv")